In [1]:
import pandas as pd
import re 

news_df = pd.read_csv('친환경.csv',encoding='CP949',index_col = 0)

In [2]:
t=len(news_df)

In [3]:
def clean_text(text):
    cleaned_text = re.sub('[^ ㄱ-ㅣ가-힣]+','.',text) # 한국어, 스페이스바, .를 제외한 모든 문자 제거
    cleaned_text = ' '.join(cleaned_text.split()) # 너무 많은 공백이 생기므로 공백 1개로
    return cleaned_text

In [4]:
news_df=news_df.dropna()

In [5]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   내용      505 non-null    object
dtypes: object(1)
memory usage: 7.9+ KB

In [6]:
news_df

                                                    내용
0    화학 대산공장 전경. 화학 제공. 화학이 친환경 소재 사업을 육성하기 위해 대규모 ...
1    조 바이든 미국 대통령이 지난 .일현지시간 미국 워싱턴 백악관에서 열린 무공해차 홍...
2    부산시가 중.소형선박 엔진을 액화석유가스 엔진으로 전환하기 위한 실증작업에 나선다....
3    현대오일뱅크는 .년까지 친환경미래사업의 영업이익 비중을 .까지 확대하기로 했다. 현...
4    롯데케미칼 소재 제품 포장백. 롯데케미칼 제공. 과거에는 환경오염의 주범으로 꼽혔던...
..                                                 ...
501  .농협은행은행장 권준학은 지난 .월 그린뉴딜 정책방향에 맞춰 친환경 경영 우수기업에...
502  .그룹회장 허영인이 기업의 지속 가능한 성장을 추구하는 환경 사회 지배구조 경영 강...
503  .롯데월드타워는 설계 단계에서부터 친환경 에너지 생산과 효율적인 관리를 목표로 만들...
504  .지난 .일 국내 호텔업계 맏형으로 손꼽히는 롯데호텔이 지속가능 경영 강화를 위해 ...
505  .편의점 세븐일레븐은 올해 초 경영 선포 이후 친환경 상품 라인업을 본격적으로 강화...

[505 rows x 1 columns]

In [7]:
news_df['내용']=news_df['내용'].apply(lambda x:clean_text(str(x)))

In [8]:
text=[]

In [9]:
#test['문장']=''
count=0
for x in range(0,t):
    try:
        tp=news_df['내용'][x]
        tp=tp.split('다.')
        tp = [x+'다' for x in tp]
        tp=clean_text(tp)
        print(tp)
    except:
        count+=1
    text.append(tp)
    #test['문장'][x]="".join(tp)

In [10]:
import itertools
text=list(itertools.chain(*text))

In [11]:
df = pd.DataFrame([x for x in text])

In [12]:
df

                                                      0
0     화학 대산공장 전경. 화학 제공. 화학이 친환경 소재 사업을 육성하기 위해 대규모 ...
1      화학은 .년까지 총 .조.억원을 투자해 충남 대산공장에 생분해성 및 태양광 필름용...
2      는 농업용.일회용 필름 등에 사용되는 제품으로 산소 열 빛 효소 반응으로 자연에서...
3              연내 착공되는 공장은 연산 .만 공장은 연산 .만 규모로 건설될 예정이다
4                            두 공장 모두 .년 상업생산 시작을 목표로 한다
...                                                 ...
9479   특히 일상 생활에서 투명 페트병 분리배출을 보다 쉽게 할 수 있는 무라벨 생수에 ...
9480                                      .기사 이 복사되었습니다
9481                                      .기사가 저장 되었습니다
9482                                    .기사저장이 취소 되었습니다
9483   .민주당 대선 레이스 시동. .황교익이 쏘아올린 연미복 논쟁. 제비꼬리 옷으로 이...

[9484 rows x 1 columns]

In [13]:
df.to_csv('친환경 문장_news.csv',encoding='CP949')

0-39경향
90-129 국민
180-199 내일
234-283동아
320-369 매일일보
410-459 문화일보
500-549 서울신문
560-609 세계일보
650-700 전국매일신문
740-789 조선일보
830-890 중앙일보
910-959 천지일보
1010-1059 한겨례
1090-1105 한국

# ----------

In [ ]:
from eunjeon import Mecab

In [ ]:
df = pd.DataFrame(text,columns=['text'])

In [ ]:
drop_index = df[df['text']==""].index
df.drop(drop_index,inplace=True)

In [ ]:
df

In [ ]:
drop_index = df[df['text']==""].index
df.drop(drop_index,inplace=True)

In [ ]:
df

In [ ]:
tokenizer = Mecab()
pos_temp = {}
pos_list = []

for i in df['text']:
    temp_str = ''
    try:
        for j in range(len(tokenizer.pos(i))):
            pos_temp[tokenizer.pos(i)[j][1]]+=1
            temp_str+=tokenizer.pos(i)[j][1]+"/"
    except:
        for j in range(len(tokenizer.pos(i))):
            pos_temp[tokenizer.pos(i)[j][1]]=1
            temp_str+=tokenizer.pos(i)[j][1]+"/"
    pos_list.append(temp_str)

In [ ]:
pos_list